<%= link_to "Create Account", new_user_path %>

<h1 id="landing-intro">Welcome to AMG Global Alpha</h1>

<div class="landing-container">
  <%= image_tag "/images/left-arrow.png", id: "left-arrow", alt: "Left Arrow" %>

  <%= image_tag "/images/img1.jpg", id: "img", alt: "Landing Image" %>

  <%= image_tag "/images/right-arrow.png", id: "right-arrow", alt: "Right Arrow" %>
</div>

<div class="landing-controls">
  <button class="landing-control-item" id="landing-control-hottop">
    Hot Topic
  </button>

  <button class="landing-control-item" id="landing-control-macro">
    Global Macro
  </button>

  <button class="landing-control-item" id="landing-control-finmkt">
    Financial Markets
  </button>
</div>
