<div class="container" id="topics-container">
  <h1><span style="font-size: 25px;" class="glyphicon glyphicon-th-list"></span> Topics</h1>

  <% @topics.each do |topic| %>
    <hr><h2><%= link_to topic.title, topic_path(topic) %></h2>
    <h4><em><%= topic.report_date %></em></h4>
    <%= truncate(topic.intro, length: 250) %>
  <% end %>
</div>
