<div class="container" id="topic-container">
  <h1><%= @topic.title %></h1>
  <h5><%= @topic.body %></h5>
  <h3>Tags</h3>
  <ul>
    <% @topic.tags.each do |tag| %>
      <li><%= tag.name.capitalize %></li>
    <% end %>
  </ul><br>

  <%= button_to "Delete topic", topic_path(@topic), method: :delete, class: "btn btn-control btn-danger" %>
</div>
