<div class="container" id="topic-container">
  <h1><%= @topic.title.split.map(&:capitalize).join(' ') %></h1>
  <h3>Tags</h3>
  <ul>
    <% @topic.tags.each do |tag| %>
      <li><%= tag.name.split.map(&:capitalize).join(' ') %></li>
    <% end %>
  </ul><br>
</div>
