<div class="container" id="topics-container">
  <h1>Topic Index</h1>

  <form method="GET" action="/admin/topics/new">
    <input type="submit" value="Create new topic", class="btn btn-control btn-success">
  </form>

  <% @topics.each do |topic| %>
    <hr><h2><%= topic.title.split.map(&:capitalize).join(' ') %></h2>
    <%= link_to "View topic", admin_topic_path(topic) %> - <%= link_to "Delete", admin_topic_path(topic), method: :delete %>
  <% end %>
</div>
