<div class="container" id="topics-container">
  <h1><span style="font-size: 25px;" class="glyphicon glyphicon-th-list"></span> Topics</h1>

  <form method="GET" action="/admin/topics/new">
    <input type="submit" value="Create new topic", class="btn btn-control btn-success">
  </form>

  <% @topics.each do |topic| %>
    <hr><h2><%= link_to topic.title, admin_topic_path(topic) %></h2>
    <h4><em><%= topic.report_date %></em></h4>
    <%= truncate(topic.intro, length: 250) %>
  <% end %>
</div>
