<div class="container" id="user-container">
  <h2><span style="font-size: 25px; padding-bottom: 15px;" class="glyphicon glyphicon-user"></span>&nbsp Welcome, <%= @user.username %></h2>
  <p style="font-size: 18px;">You have been a member since <strong><%= @user.created_at.strftime("%B %d, %Y") %></strong>.</p>

  <br><%= button_to "Change password", edit_user_path(@user), method: :get, class: "btn btn-control btn-primary" %>
</div>
