<div class="container" id="new-tag-container">
  <h1>Create Tag</h1>

  <%= form_for @tag, html: { class: "form-group" } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, type: "username", class: "form-control", placeholder: "Enter tag name" %><br>

    <%= f.submit "Create Tag", class: "btn btn-control btn-primary" %>
  <% end %>
</div>
