<div class="container" id="country-index-container">
  <h1>Country Index</h1>

  <form method="GET" action="/admin/countries/new">
    <input type="submit" value="Create new country", class="btn btn-control btn-success">
  </form><br>

  <ul>
    <% @countries.each do |country| %>
      <li><%= link_to country.name.split.map(&:capitalize).join(' '), admin_country_path(country) %> - <%= link_to "Delete", admin_country_path(country), method: :delete %></li>
    <% end %>
  </ul>
</div>
