<div class="container" id="country-index-container">
  <h1><span style="font-size: 25px;" class="glyphicon glyphicon-globe"></span> Countries</h1>

  <form method="GET" action="/admin/countries/new">
    <input type="submit" value="Create new country", class="btn btn-control btn-success">
  </form>

  <table style="margin-top: 15px;" id="country-index-table">
    <% @countries.each do |country| %>
      <tr id="country-table-row">
        <% if country == @countries.last %>
          <td style="border-bottom: none"><h4 style="margin-top: 7px; margin-bottom: 7px;"><%= link_to country.name, admin_country_path(country) %></h4></td>
        <% else %>
          <td><h4 style="margin-top: 7px; margin-bottom: 7px;"><%= link_to country.name, admin_country_path(country) %></h4></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
