<div class="container" id="country-container">
  <h1><%= @country.name %></h1>
  <h3>Tags</h3>
  <ul>
    <% @country.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul><br>

  <%= button_to "Delete country", admin_country_path(@country), method: :delete, class: "btn btn-control btn-danger" %>
</div>
