<div class="container" id="preview-index-container">
  <h1>Preview Index</h1>

  <ul>
    <% @previews.each do |preview| %>
      <li><%= link_to preview.name.split.map(&:capitalize).join(' '), preview_path(preview) %></li>
    <% end %>
  </ul>
</div>
