<div class="container" id="preview-index-container">
  <h1>Previews</h1>

  <ul>
    <% @previews.each do |preview| %>
      <li><%= link_to preview.title, preview_path(preview) %></li>
    <% end %>
  </ul>
</div>
