<div class="container" id="preview-index-container">
  <% if logged_in? %>
    <h1><span style="font-size: 25px;" class="glyphicon glyphicon-zoom-in"></span> Previews</h1>
  <% else %>
    <h1><span style="font-size: 25px;" class="glyphicon glyphicon-th-list"></span> Topics</h1>
  <% end %>

  <% @previews.each do |preview| %>
    <hr><h2 class="index-item-title"><%= link_to preview.title, preview_path(preview) %></h2>
    <h4><em><%= preview.report_date %></em></h4>
    <div class="tagline-index"><%= preview.tagline.html_safe %></div>
  <% end %>
</div>
