<% if current_user %>
  <div class="container" id="preview-container">
    <%= link_to "Back to Previews", previews_path, class: "back-to-link" %>
<% else %>
  <div class="container" id="preview-container2">
<% end %>

  <h1><%= @preview.name %></h1>
  <h3>Tags</h3>
  <ul>
    <% @preview.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul><br>

  <%= button_to "Learn More", dashboard_path, method: :get, class: "btn btn-control btn-success" %>
</div>
