<div class="container" id="preview-container">
  <h1><%= @preview.name %></h1>
  <h3>Tags</h3>
  <ul>
    <% @preview.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul><br>

  <%= button_to "Learn More", dashboard_path, method: :get, class: "btn btn-control btn-success" %>
</div>
