<div class="container" id="country-index-container">
  <h1>Indicator Index</h1>

  <ul>
    <% @indicators.each do |indicator| %>
      <li><%= link_to indicator.name.split.map(&:capitalize).join(' '), indicator_path(indicator) %></li>
    <% end %>
  </ul>
</div>
