<div class="container" id="indicator-container">
  <%= link_to "Back to Indicators", indicators_path, class: "back-to-link" %>

  <h1><%= @indicator.name %></h1>
  <h3>Tags</h3>
  <ul>
    <% @indicator.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul><br>
</div>
