#cf {
  position: relative;
  height: 500px;
  width: 850px;
  margin: 0 auto;
  display: inline-block;
  border-style: solid;
  border-color: #CCC;
  border-width: medium;
}

#cf img {
  position: absolute;
  left: 0;
  height: 500px;
  width: 850px;
}

#landing-intro {
  text-align: center;
  color: #000060;
}

.landing-container {
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: auto;
}

.img {
  display: inline-block;
  border-style: solid;
  border-color: #CCC;
  border-width: medium;
  height: 500px;
  width: 850px;
}

#left-arrow {
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10%;
}

#left-arrow:hover {
  height: 55px;
  cursor: pointer;
}

#right-arrow {
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10%;
}

#right-arrow:hover {
  height: 55px;
  cursor: pointer;
}

.landing-controls {
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  padding-top: 10px;
}

.landing-control-item {
  color: #AAA;
  font-weight: bold;
  border-color: #CCC;
  border-style: solid;
  background-color: #EEE;
	float: left;
	margin-left: 7.5%;
	text-align: center;
  width: 15%;
  opacity: 0.5;
}

.landing-control-item:first-child {
	margin-left: 250px;
  opacity: 1;
  color: #000060;
  border-color: #000060;
}

.landing-control-item:hover {
	cursor: pointer;
}
