#preview-index-container {
  margin-top: 70px;
}

#new-preview-container {
  margin-top: 85px;
}

#edit-preview-container {
  margin-top: 85px;
}

#preview-container {
  margin-top: 85px;
  margin-left: -13px;
  width: 75%;
  padding-right: 25px;
}
