#topics-container {
  margin-top: 70px;
}

#topic-container {
  margin-top: 85px;
  margin-left: 56px;
  width: 75%;
  padding-right: 25px;
}

#new-topic-container {
  margin-top: 85px;
}

#sidebar {
  position: fixed;
  width: 18.6%;
  right: 0;
  top: 20%;
  padding-left: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #777;
  border-radius: 7px;
}

#country-sidebar {
  margin-bottom: 25px;
  padding-left: -10px;
  padding-top: 5px;
}

#indicator-sidebar {
  padding-left: -10px;
  padding-bottom: 9px;
}
