#topics-container {
  margin-top: 70px;
}

#topic-container {
  margin-top: 85px;
}

#new-topic-container {
  margin-top: 85px;
}

#sidebar {
  position: fixed;
  height: 120px;
  right: 0;
  bottom: 0;
  display: inline-block;
  border-style: ridge;
  background-color: #DDD;
}
