<div class="container" id="country-index-container">
  <h1>Indicators</h1>

  <form method="GET" action="/admin/indicators/new">
    <input type="submit" value="Create new indicator", class="btn btn-control btn-success">
  </form><br>

  <ul>
    <% @indicators.each do |indicator| %>
      <li><%= link_to indicator.name, admin_indicator_path(indicator) %></li>
    <% end %>
  </ul>
</div>
