<div class="container" id="country-index-container">
  <h1><span style="font-size: 25px;" class="glyphicon glyphicon-stats"></span> Indicators</h1>

  <form method="GET" action="/admin/indicators/new">
    <input type="submit" value="Create new indicator", class="btn btn-control btn-success">
  </form><br>

  <% @countries.each do |country| %>
    <h3 style="text-decoration:underline;"><%= country.name %></h3>
    <ul>
      <% country.indicators.each do |indicator| %>
        <li><%= link_to indicator.name, admin_indicator_path(indicator) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
