<div class="container" id="indicator-container">
  <%= link_to "Back to Indicators", admin_indicators_path, class: "back-to-link" %>

  <h1><%= @indicator.name %></h1>
  <h3>Tags</h3>
  <ul>
    <% @indicator.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul><br>

  <%= button_to "Delete Indicator", admin_indicator_path(@indicator), method: :delete, class: "btn btn-control btn-danger" %>
</div>
